{% extends 'main.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="flex gap-10 justify-center flex-col items-center py-10 w-screen">
    <div class="flex justify-start overflow-x-auto overscroll-contain select-none items-center p-5 w-full rounded-lg max-w-[80%] gap-3 bg-white text-blue-400 font-semibold shadow-2xl">
        {% for category in categorys %}
        <a href="{% url 'category' category.name %}" class="rounded-2xl duration-[0.3s] hover:-translate-y-2 border-b-4 border-opacity-0 hover:border-opacity-100 border-black shadow-lg bg-blue-400 text-white p-5">{{category.name}}</a>
        {% endfor %}
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 font-raleway w-[90%]">
        {% if posts %}
            {% for post in posts %}
                <div class="bg-blue-400 text-white shadow-2xl rounded-lg h-fit">
                    <img class="rounded-b-2xl w-full h-[350px]" src="{{post.image.url}}"/>
                    <div class="px-10 py-4 flex flex-col items-center w-full justify-between">
                        <h1 class="text-4xl text-center font-bold mb-8">{{post.title}}</h1>
                        <span class="text-center mb-8">{{post.description}}</span>
                        <span class="gap-2 text-zinc-700 flex items-center text-lg mb-8"><img class="object-fill shadow-2xl w-10 rounded-full h-10" src="{{post.author.profile_pic.url}}"/>{{post.author.username}}</span>
                        <a class="text-center cursor-pointer rounded-lg bg-pink-500 duration-[0.3s] shadow-lg hover:-translate-y-2 select-none p-5 w-full text-gray font-bold relative" href="{% url 'post' post.id %}"><span>Baca</span></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 class="text-zinc-800 text-4xl text-center">Empty</h1>
        {% endif %}
    </div>
    
</div>
{% endblock content %}