{% extends 'main.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<div>
    {% if messages %}
        {% for message in messages%}
            <span>{{message}}</span>
        {% endfor %}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <label for="username or email">Username</label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}