{% extends 'main.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<div>
    {% if messages %}
        {% for message in messages%}
            <span>{{message}}</span>
        {% endfor %}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <label for="username or email">Username</label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <button class="bg-white p-2 rounded" type="submit">Login</button>
    </form>
    <a class="bg-blue-300 rounded-full p-3" href="{% url 'register' %}">Register new account</a>
</div>
{% endblock content %}